/*
    <html>
	<head>
		<style>
		html, body {
			padding: 0;
			margin: 0;
		 	overflow: hidden;
		}
		#container {
			position: absolute;
			left: 0;
			top: 0;
			right: -30px;
			bottom: 0;	
			padding-right: 15px;
			overflow-y: scroll;
		}
		</style>
	</head>
	<body>
		<div id="container">
			<!-- lines, lines, lines -->
		</div>
	</body>
</html>

    */


/* 
    #feedback { font-size: 20px; } 

*/
#selectable { list-style-type:none; margin: 0; padding: 0; width: 60%; background-color:transparent; }
#selectable li { margin: 5px; padding: 8px; font-size: 14px; height: 14px; color:#0268B2;}
#selectable .ui-selecting { background: #152562; }
#selectable .ui-selected { background: #152562; color: white; }
  


.body { 
    /* Overflow:auto;  */
     margin:0;
     padding:0 0 0 0;
    background-color:white;
    color:black;
    font-family:Helvetica;
    /* border-top:1px solid #393939; */
  /*

  background-repeat: no-repeat;
  background-attachment:fixed;
      */
  }


.backgroundImage {
    content : "";
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 80%;
    z-index:-1;

    position:absolute;
    background-image: url("images/TWC-bg.jpg"); 
    opacity: 0.4; 
    filter:alpha(opacity=40); /* For IE8 and earlier */

}





.optionButton {
     border:1px solid #152562;
     height:62px;
     width:80px;
     margin:0px;
     padding:0px;
     text-align:center;
     vertical-align:bottom;
     font-weight:bold;
     color:white;
     background-color:transparent;
     font-size:12px;
     cursor: pointer;
}


.newScriptButton {
    /* border:1px solid #152562; */
     height:62px;
     width:80px;
     margin:0px;
     padding:0px;
     text-align:center;
     vertical-align:bottom;
     font-weight:bold;
     color:white;
     background-color:transparent;
     font-size:8pt;
     
    background-image: url(images/add.png); /* 16px x 16px */
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px;  
    
    border: none;           
    
    cursor: pointer;
    padding-left: 2px;     
}




.eRxBlue
{
    font-family:Calibri;
    font-size:24pt;
    font-weight:normal;
    color:#0268B2;
}

.eRxGreen {
    font-family:Calibri;
    font-size:15pt;
    font-weight:normal;
    color:#4FA34D;
}



.header {
    width:100%;
   position:fixed;
   top:0px;
   height:35px;
    background-color:white; 
    padding-top:5px;
    padding-left:5px;
    border-bottom:1px  solid silver;
    color:black;
    /* z-index: 1; */
}


.content {
    width: 100%;
    position: fixed;
    top: 44px;
    
}


.contentArea {
    position:absolute;
    width:100%;
    background-color:transparent; 
    text-align:center; 
    padding-top:0px;
    color:black;
    font-size:14pt;
}

.footer {
    position: fixed;
    background-color:#193067; 
    border-top: 1px solid silver;
    color:white;
    height:60px;
    bottom: 0;
    width: 100%;
}





.accountButton {
    border-width:1px; 
    border-color:silver; 
    padding:3px; 
    right:5px; 
    width:80px; 
    margin-top:3px;
    background-color:#193067; 
    color:white;
    cursor: pointer;
}

.smallbutton {
    border-width:1px; 
    border-color:silver; 
    padding:3px; 
    right:5px; 
    width:80px; 
    margin-top:3px;
    background-color:#193067; 
    color:white;
    cursor: pointer;
}

.homeButton {
    border-width:1px; 
    border-color:silver; 
    padding:3px; 
    right:5px; 
    width:80px; 
    margin-top:3px;
    background-color:#193067; 
    color:white;
    position:absolute;
    cursor: pointer;
}


.dialogButton {
   width:100px;
   padding:5px;
   height:30px; 
   border-width:1px; 
   border-color:silver; 
   background-color:#193067; 
   color:white;
   cursor: pointer;
}

.okButton {
   width:110px;
   padding:5px;
   height:30px; 
   border-width:1px; 
   border-color:silver; 
   background-color:darkgreen; 
   font-weight:bold;
   color:white;
   cursor: pointer;
}

.cancelButton {
   width:100px;
   padding:5px;
   height:30px; 
   border-width:1px; 
   border-color:silver; 
   background-color:darkgoldenrod; 
   color:white;
   cursor: pointer;
}


.pageTitle {
    background-color:#597bc3; 
    display:block;
    border-style:solid;
    border-width:1px;
    border-color:silver;
    color:white;
    font-weight:bold;
    padding:5px;
    font-size:12pt;
    top:0;
    vertical-align:top;
}

.pageText {
     font-size:14pt;
}

.button {
   width:200px;
   padding-left:20px;
   padding-right:20px;
   height:40px; 
   border-width:1px; 
   border-color:silver; 
   background-color:#193067; 
   font-weight:bold;
   color:white;
}


#stage.theme a.btn{
      border: 2px solid #222;
      -webkit-border-radius: 9px;
  	border-radius: 9px;
  	text-align:center;
  	display:block;
  	background:#eee;
  	width:280px;
  	color:#222;
  	font-size:1.3em;
  	text-decoration:none;
  	padding:1.0em 0;
  	margin:12px;
  }

/*
.ui-controlgroup-controls {
    width:100% !important;
}

.ui-select {
    width:33% !important;
} 

    */